LID/data/*
LID/model.bin
LID/ft_train.txt
LID/metrics_for_langs.csv

parsing_aligned_data/sources/*
parsing_aligned_data/results/*

parse_data_for_alighning/results/*
parse_data_for_alighning/source/*

other/mdf_mono/*

aligner/v1_07_02_25/*

*.DS_Store